[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/eigenlayer-contracts"]
	path = lib/eigenlayer-contracts
	url = https://github.com/Layr-Labs/eigenlayer-contracts
	branch = testnet-holesky
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "scout-agent/agentkit"]
	path = scout-agent/agentkit
